[submodule "lib/samp-plugin-sdk"]
	path = lib/samp-plugin-sdk
	url = git@github.com:maddinat0r/samp-plugin-sdk
[submodule "lib/cmake-modules"]
	path = lib/cmake-modules
	url = git@github.com:Zeex/cmake-modules
[submodule "lib/mruv-pb-cpp"]
	path = lib/mruv-pb-cpp
	url = git@github.com:MruV-RP/mruv-pb-cpp
[submodule "lib/mruv-protos"]
	path = lib/mruv-protos
	url = git@github.com:MruV-RP/mruv-protos
[submodule "lib/googleapis"]
	path = lib/googleapis
	url = git@github.com:googleapis/googleapis.git
[submodule "lib/protobuf"]
	path = lib/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "lib/fmt"]
	path = lib/fmt
	url = git@github.com:fmtlib/fmt
